{% if site.data.projects %}
<section class="section projects-section">

  <h2 class="section-title"><i class="fa fa-archive"></i>Publications</h2>

  {% for intro in site.data.projects %}
  <div class="intro">
      
  <ul>
  <li> <b>Schalken, N.</b> & Rietbergen, C. (2017). The reporting quality of systematic reviews and meta-analyses in industrial and organizational psychology: A systematic review. <i>Frontiers in Psychology.</i><a href="doi: 10.3389/fpsyg.2017.01395">Link</a></li>
  <br>
  <li> Van de Schoot, R., <b>Schalken, N.</b>, & Olff, M. (2017) Bayesian Statistics in the Field of Psychotraumatology. <i>European Journal of Psychotraumatology.</i>
  doi: 10.1080/20008198.2017.1375339 </li>
  <br>  
  <li> <b>Schalken, N.</b>, Van de Schoot, R., & Olff, M. (2017, August 24). Additional Information for “Systematic search of Bayesian statistics in the field of psychotraumatology.” doi: 10.17605/OSF.IO/WXKPU. Retrieved from osf.io/wxkpu </li>
  <br> 
  <li> Veen, D., Stoel, D., <b>Schalken, N.</b>, & Van de Schoot, R. (2017). Using the Data Agreement Criterion to rank experts' beliefs. arXiv:1709.03736 [stat.ME]. Retrieved from https://arxiv.org/abs/1709.03736 (under review) </li>
  <br>
  <li> Veen, D., <b>Schalken, N.</b>, & van de Schoot, R. (2017). DAC: Calculating Data Agreement Criterion Scores to Rank Experts Based on Their Beliefs. R package version 0.1.0. (https://CRAN.R-project.org/package=DAC). </li>
  </ul>
    
   
      
  </div><!--//intro-->
  {% endfor%}

</section><!--//section-->
{% endif %}
