{% if site.data.projects %}
<section class="section projects-section">

  <h2 class="section-title"><i class="fa fa-archive"></i>Publications</h2>

  {% for intro in site.data.projects %}
  <div class="intro">
      
  <ul>
    <li> <b>Schalken, N.</b> & Rietbergen, C. (2017). The reporting quality of systematic reviews and meta-analyses in industrial and organizational psychology: A systematic review. <i>Frontiers in Psychology.<i> doi: 10.3389/fpsyg.2017.01395</li>
  <li> other reference </li>
  <li> other reference </li>
  </ul>
      
  </div><!--//intro-->
  {% endfor%}

  {% for project in site.data.projects %}
    <div class="item">

      <span class="project-title"><a href="{{ project.link }}">{{ project.title }}</a></span>

      {% if project.tagline %}
      - <span class="project-tagline">{{ project.tagline }}</span>
      {% endif %}

    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
