<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About me</a></li>
	        		<li><a href="/cv">Publications</a></li>
	        		<li><a href="/blog">CV</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:n.schalken@uu.nl">Email</a></li>
	        		<li><a href="https://www.linkedin.com/in/naomi-schalken-3152a8b8/">Linkedin</a></li>
				</ul>
			</footer>
		</body>
	</html>
